
<!-- Display all the content present in database -->

<body>

    <!-- Continue printing till the length of the database -->
    <% for (var i = 0; i < title.length; i++) { %>
        <%= title[i].firstName %> 
        <%= title[i].lastName %>
    <%}%>
</body>

